.projetos {
    margin: 30 20 30 20;
    display: flex;
    justify-content: center;
}

.projetos a {
    text-decoration: none;
    color: tomato;
}

.projetos h1 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

hr {
    width: 70%;
}