body {
    background-color: #f5f8f9;
}

aside {
    height: 1240px;
    background-color: #3a3c40;
    text-align: center;
    
}

aside img {
    height: 140px;
    width: 140px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
}

aside h1 {
    color: #f5a623;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

aside h2 {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

aside h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #eeeeee;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

aside .portfolio {
    width: 140px;
    height: 50px !important;
    box-shadow: 0 4px 0 rgba(245, 166, 35, 0.6) !important;
    background-color: #f6a623 !important;
    color: #ffffff !important;
    font-family: Lato !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin-bottom: 15px;
    
}

aside ul {
display: flex;
justify-content: center;
list-style: none;
color: #ffffff;
text-decoration: none;
}

aside li {
    padding: 5px;
}

aside a {
    color: #ffffff;
}

aside a:hover {
    color: #fff;
}

aside progress {
    width: 100% !important;
}

.conhecimentos {
    width: 70%;
    margin: 0 15% 0 15%;
    text-align: start;
}

.conhecimentos small {
    color: #8fa4af;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
}