body {
    background-color: #9b9b9b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.relatorio {
    width: 100%;
    height: auto;
    padding: 0 20px 0 20px;
    background-color: #fff;
}

.relatorio h1 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 50px;
}

.tabela{
    width: 100%;
    margin-bottom: 50px;
}

.tabela tr {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom: 0.5px solid rgba(97,97,97,0.5);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
}

.tabela tr:hover {
    background-color: #eeeeee;
}

.tabela tr:first-of-type {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
   
}

.tabela tr:last-child {
    margin-bottom: 0;
}

input[type=checkbox] {
    width:15px;
    height:15px;
}

.numero-registros {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    opacity: 0.54;
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.numero-registros select {
    margin: 0 30 0 10;
}

.proxima {
    height: 12px;
    width: 8px;
    cursor: pointer;
    margin-left: 15px;
    background-image: url("../imagem/proximo.png");
}

.voltar {
    height: 12px;
    width: 8px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 15px;
    background-image: url("../imagem/voltar.png");
}